<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <link rel="stylesheet" th:href="@{/css/Course.css}"/>
 
</head>
<body>

<h2>Table Form</h2>
    <button class="add-btn" th:onclick="openAddModal()">Thêm</button>   
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Teacher ID</th>
            <th>Link Online</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>       
        <tr th:each="courses : ${ListCourses}">
            <td th:text="${courses.id}">1</td>
            <td th:text="${courses.name}">Course 1</td>
            <td th:text="${courses.price}">$100</td>
            <td th:text="${courses.teacher.fullName}">Teacher 1</td>
            <td><a th:href="${courses.linkOnline}">Link 1</a></td>
            <td th:text="${courses.description}">Description 1</td>
             <td><a th:href="@{/admin/editModel/{id}(id=${courses.id})}">Sửa</a></td>
            <td><a href="javascript:void(0);" class="delete-btn" th:onclick="deleteCourse(/*[[${courses.id}]]*/)">Xóa</a></td>
        </tr>
        

        
    </table>


 

    <div id="addModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddModal()">&times;</span>
        <h2>Add Form</h2>
        <form id="addForm">
            <label for="name">Name:</label>
            <input type="text" id="addName" name="name">
            <label for="price">Price:</label>
            <input type="text" id="addPrice" name="price">
            <label for="teacherId">Teacher ID:</label>
            <input type="text" id="addTeacherId" name="teacherId">
            <label for="linkOnline">Link Online:</label>
            <input type="text" id="addLinkOnline" name="linkOnline">
            <label for="description">Description:</label>
            <input type="text" id="addDescription" name="description">
            <input type="button" value="Add" onclick="saveAddForm()">
        </form>
    </div>
</div>
    
 
    
</body>
</html>