<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Edit Form</h2>
       <form id="editForm" th:object="${course}" th:action="@{/saveEditedCourse}">
    <label for="Id">Id:</label>
    <input type="text" id="editId" th:field="*{id}" readonly>
    <label for="name">Name:</label>
    <input type="text" id="editName" th:field="*{name}">
    <label for="price">Price:</label>
    <input type="text" id="editPrice" th:field="*{price}">
    <label for="teacherId">Teacher ID:</label>
    <input type="text" id="editTeacherId" th:field="*{teacher.id}">
    <label for="linkOnline">Link Online:</label>
    <input type="text" id="editLinkOnline" th:field="*{linkOnline}">
    <label for="description">Description:</label>
    <input type="text" id="editDescription" th:field="*{description}">
    <input type="submit" value="Save">
</form>
</body>
</html>