:root {
    --main-bg-color: #2b2c40;
    --main-text-color: #ab8f75;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
    --darkblue:#2b2c40;
    --lightblue:#2b2c40;
    --black:#232333;
    --font-color:#a3a4cc;
    --font-light:#cbcbe2;
    --white:#fff;
    --shadow:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);;
  }
*{margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif;}
.clearfix{clear: both;}
body{background: var(--black); height: 100vh; overflow: hidden;}
  .main-text{
    color: var(--font-light);
  }
  .row-cover:hover{
    color: var(--font-color)!important;
  }
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
/*  #wrapper {
    /* overflow-x: hidden;  
    }*/

  
  #sidebar-wrapper {
    min-height: 100vh;
    /* margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out; */

    width: 220px; background: var(--darkblue)!important; padding:25px; 
    height: 100%; position: relative;transition: 1s ease-in-out; 
    box-shadow: var(--shadow);

  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  .sidenav a{
    color: var(--font-color)!important;
  }
  
  .sidenav a:hover{
    color: var(--font-light)!important;
    width: 80%;
    box-shadow: var(--shadow);
    border-right: solid 4px var(--main-text-color);
  }

  #navbar-dropdown{
    color: var(--main-text-color)!important;

  }
  
  #page-content-wrapper {
    min-width: 100vw;
    color: var(--main-text-color);
  }

  .infor-base{
    background: var(--darkblue)!important;
    box-shadow: var(--shadow);
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }

  .btn-del .btn-edit{
    background: var(--main-text-color)!important;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }    
	  }