<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- CSS Bootstrap5 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<!-- Fontawesome -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- CSS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/js/adminCustom.js}"></script>
<link th:href="@{/css/adminStyle.css}" rel="stylesheet" />
<title>Notifications</title>
</head>

<body>
	<div class="d-flex" id="wrapper">
		<!-- Bất đầu Sidebar -->
		<div class="bg-white" id="sidebar-wrapper">
			<div
				class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
				<i class="fas fa-user-secret me-2"></i>Admin
			</div>
			<div class="list-group list-group-flush my-3 sidenav">
				<a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text active"><i
					class="fas fa-tachometer-alt me-2"></i>Dashboard</a> <a
					href="/admin/noti/ViewAdNotifi"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fa-solid fa-graduation-cap"></i>Notifications</a> <a
					href="/admin/students/ViewAdStudents"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fa-solid fa-graduation-cap"></i>Students</a>  <a
					href="/admin/teachers/ViewAdTeachers"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fa-solid fa-chalkboard-user"></i>Teachers</a> <a
					href="/admin/course/ViewAdCourses"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fa-solid fa-laptop-file"></i>Course</a> 
			</div>
		</div>
		<!-- /Kết thúc Sidebar -->

		<!-- Bất đầu Page Content -->
		<div id="page-content-wrapper">
			<nav
				class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
				<div class="d-flex align-items-center">
					<i class="fas fa-align-left primary-text fs-4 me-3"
						id="menu-toggle"></i>
					<h2 class="fs-2 m-0">Dashboard</h2>
				</div>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle second-text fw-bold" href="#"
							id="navbar-dropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false"> <i class="fas fa-user me-2"></i>Admin
						</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Profile</a></li>
								<li><a class="dropdown-item" href="#">Settings</a></li>
								<li><a class="dropdown-item" href="#">Logout</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>

			<div class="container-fluid px-4 align-items-center ">
				<div class="row g-3 my-2 justify-content-evenly">
					<div class="col-md-3 m-1 infor-base">
						<div
							class="p-3 shadow-sm d-flex justify-content-evenly align-items-center rounded">
							<div>
								<h3 class="fs-2">Students</h3>
								<p class="fs-5">1437</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 m-1 infor-base">
						<div
							class="p-3 shadow-sm d-flex justify-content-evenly align-items-center rounded">
							<div>
								<h3 class="fs-2">Teachers</h3>
								<p class="fs-5">25</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 m-1 infor-base">
						<div
							class="p-3 shadow-sm d-flex justify-content-evenly align-items-center rounded">
							<div>
								<h3 class="fs-2">Course</h3>
								<p class="fs-5">14</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Bất đầu Notifications -->
				<div class="row my-5 infor-base">
					<div class="d-flex justify-content-between">
						<h3 class="fs-4 mb-3">Notifications</h3>
						<button class="btn-add">
							<i class="fa-solid fa-plus btn-edit" data-bs-toggle="modal"
								data-bs-target="#notifications-addModal"></i>
						</button>
					</div>
					<div class="col">
						<table class="table main-text rounded shadow-sm">
							<thead>
								<tr>
									<th scope="col" width="50">ID</th>
									<th scope="col">Title</th>
									<th scope="col">Content Notification</th>
									<th scope="col">Create Date</th>
									<th scope="col" width="50">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr class="row-cover" th:each="notification : ${ListNoti}">
									<td th:text="${notification.id}"></td>
									<td th:text="${notification.title}"></td>
									<td th:text="${notification.content}"></td>
									<td th:text="${notification.createDate}"></td>
									<td><i class="fa-solid fa-pen btn-edit"
										data-bs-toggle="modal"
										data-bs-target="#notifications-editModal"></i> <i
										class="fa-solid fa-trash btn-del" data-bs-toggle="modal"
										data-bs-target="#deleteModal"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Kết thúc Notifications -->
				<!-- Bất đầu Course Notifications -->
				<div class="row my-5 infor-base">
					<div class="d-flex justify-content-between">
						<h3 class="fs-4 mb-3">Notifications</h3>
						<button class="btn-add">
							<i class="fa-solid fa-plus btn-edit" data-bs-toggle="modal"
								data-bs-target="#courses-notifications-addModal"></i>
						</button>
					</div>
					<div class="col">
						<table class="table main-text rounded shadow-sm">
							<thead>
								<tr>
									<th scope="col" width="50">ID</th>
									<th scope="col">Title</th>
									<th scope="col">Content Notification</th>
									<th scope="col">Create Date</th>
									<th scope="col" width="50">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr class="row-cover" th:each="noti : ${ListNoti}">
									<td th:text="${noti.id}"></td>
									<td th:text="${noti.title}"></td>
									<td th:text="${noti.content}"></td>
									<td th:text="${noti.createDate}"></td>
									<td><i class="fa-solid fa-pen btn-edit"
										data-bs-toggle="modal"
										data-bs-target="#courses-notifications-editModal"></i> <i
										class="fa-solid fa-trash btn-del" 
										></i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Kết thúc Course Notifications -->
			</div>
		</div>
	</div>
	<!-- Kết thúc Page Content -->




	<!-- MODAL  -->
	<!-- Bất đầu Notification Edit Modal -->

	<!-- Kết thúc Notification Edit Modal -->

	<!-- Bất đầu Notification Add Modal -->
	<div class="modal fade" id="addModel" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add
						Notifications</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="addForm" action="/admin/noti/add" method="post">
						<div class="mb-3">
							<label for="addTitle" class="form-label">Title</label> <input
								type="text" class="form-control" id="addTitle" name="title">
						</div>
						<div class="mb-3">
							<label for="addContent" class="form-label">Content
								Notification</label> <input type="text" class="form-control"
								id="addContent" name="content">
						</div>
						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<!-- Kết thúc Notification Add Modal -->

	<!-- Bất đầu Notifications Edit Modal -->
	<div class="modal fade" id="course-editModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Update Course</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
					<div class="row my-5" id="course">
						<h3 class="fs-4 mb-3">Course</h3>
						<div class="col">
							<table class="table bg-white rounded shadow-sm  table-hover">
								<thead>
									<tr>
										<th scope="col">Title</th>
										<th scope="col">Content Notification</th>

									</tr>
								</thead>
								<tbody>
									<tr>
										<form id="editModel" action="/admin/noti/edit" method="post">
											<input type="text" id="editId" name="id" hidden>
											<td><input type="text" id="editTitle" name="title"></td>
											<td><input type="text" id="editContentNoti" name="contentNoti"></td>
											
											<button class="btn btn-primary" type=submit>update</button>
										</form>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Kết thúc Notifications Edit Modal -->


	<!-- Bất đầu Delete Modal   -->
	<div class="modal" id="deleteModal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Delete</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">Bạn Có Chắc Là Xóa Thông Tin Này Không
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger"
						data-bs-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>






</body>
	<script>
	function openEditModel(id){
		$.ajax({
			type : "GET",
			contentType : "application/json",
			url : "/admin/noti/editModel?id=" + id,
			success : function(response){
				var noti = response;
				$('#editId').val(noti.id);
				$('#editTitle').val(course.title);
				$('#editContentNoti').val(course.contentNoti);
			},
			error : function(error){
				console.log(error);
			}
			
		})
	}
	</script>
</html>