<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body >
	 <form id="studentForm" method="post" action="/account/teacherRegister">
    <label for="fullName">Họ và tên:</label>
    <input type="text" id="fullName" name="fullName"><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>

    <label for="phone">Số điện thoại:</label>
    <input type="tel" id="phone" name="phone"><br><br>

	<label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>

    <button type="submit">Thêm Giáo Viên</button>
  </form>
  <div th:if="${errorMessage}" style="color: red">
			    <span th:text="${errorMessage}"></span>
			</div>
</body>
</html>